:root {
  --bg-color: #f0f2f5;
  --text-color: #333;
  --nav-bg: #d7bde2;
}

body.dark {
  --bg-color: #1c1c1c;
  --text-color: #f5f5f5;
  --nav-bg: #333;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-image: url('/public/assets/bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.3s ease, color 0.3s ease;
}

section {
  padding: 40px 20px;
  max-width: 1000px;
  margin: auto;
}

h1, h2 {
  text-align: center;
}

form input, form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

form button {
  padding: 10px 20px;
  font-size: 1rem;
  background-color: #0077ff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

form button:hover {
  background-color: #005ec9;
}

@media (max-width: 768px) {
  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  section {
    padding: 30px 15px;
  }
}